.intro-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  opacity: 1;
  z-index: 999999;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.4);
}

.intro-element-focus {
  position: relative;
  z-index: 9999999 !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}

.intro-glass-focus {
  width: 100px;
  height: 50px;
  top: 10px;
  left: 0;
  box-sizing: content-box;
  position: absolute;
  z-index: 9999998;
  background-color: #fff;
  border: 1px solid #777;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.intro-tooltip {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 30px rgb(33 33 33 / 30%);
  box-sizing: initial;
  max-width: 300px;
  min-width: 250px;
  padding: 10px;
  position: absolute;
  visibility: visible;
}
